#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define WIN_DEF 0
#define WIN_FNC 1
#define WIN_SCR 2
#define WIN_NUM 3
#define MAC_DEF 4
#define MAC_FNC 5
#define MAC_SCR 6
#define MAC_NUM 7
#define SETTING 8
#define MOUSE   9

/* ------------------------------------------------------------
 * Layer-Tap (&lt) の tapping-term-ms だけ調整できるようにする
 * ここだけ数字を変えれば、全 &lt に反映されます。
 * 目安: 180〜260 / 親指キーなら 220〜280 が安定しがち
 * ------------------------------------------------------------ */
#define LT_TAPPING_TERM 220

/* 既存の Mod-Tap はそのまま */
&mt {
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
};

/* ★ここが追加：&lt の tapping-term-ms だけ上書き */
&lt {
    tapping-term-ms = <LT_TAPPING_TERM>;
};

/* ------------------------------------------------------------
 * 使い方（KeymapEditorで後から割り当てる用の例）
 *
 * タップ=Windows IMEトグル(ime_tog), 長押し=WIN_NUM:
 *     &lt WIN_NUM &ime_tog
 *
 * タップ=mac IMEトグル(mac_ime), 長押し=MAC_NUM:
 *     &lt MAC_NUM &mac_ime
 *
 * ※長押しは「押してる間だけレイヤーON、離すとOFF」
 * ------------------------------------------------------------ */

 / {
    behaviors {
        // TouchPass (Fingerprint)
        touchpass: touchpass {
            compatible = "zmk,behavior-touchpass";
            #binding-cells = <0>;
        };

        /*        // Layout Shift - Override &kp

        original_key_press: original_key_press {
            compatible = "zmk,behavior-key-press";
            #binding-cells = <1>;
            label = "KEY_PRESS";
        };

        kp: key_press {
            compatible = "zmk,behavior-layout-shift-key-press";
            #binding-cells = <1>;
            label = "LAYOUT_SHIFT_KEY_PRESS";
        };
 */
        // Layout Shift - Additional behaviors
        kpls: layout_shift_key_press_alias {
            compatible = "zmk,behavior-layout-shift-key-press";
            #binding-cells = <1>;
            label = "LAYOUT_SHIFT_KEY_PRESS_ALIAS";
        };

        mtls: layout_shift_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kpls>, <&kpls>;
        };

        tog_ls: toggle_layout_shift {
            compatible = "zmk,behavior-layout-shift-toggle";
            #binding-cells = <0>;
            toggle-mode = "flip";
            label = "LAYOUT_SHIFT_TOGGLE";
        };

        tog_ls_on: toggle_layout_shift_on {
            compatible = "zmk,behavior-layout-shift-toggle";
            #binding-cells = <0>;
            toggle-mode = "on";
            label = "LAYOUT_SHIFT_TOGGLE_ON";
        };

        tog_ls_off: toggle_layout_shift_off {
            compatible = "zmk,behavior-layout-shift-toggle";
            #binding-cells = <0>;
            toggle-mode = "off";
            label = "LAYOUT_SHIFT_TOGGLE_OFF";
        };
    };

    macros {
        // Windows用：Alt + Grave (~)
        ime_tog: ime_toggle {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp GRAVE>,
                <&macro_release>,
                <&kp LALT>;
        };

        // macOS用：Ctrl + Space
        mac_ime: mac_ime_toggle {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp SPACE>,
                <&macro_release>,
                <&kp LCTRL>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        win_default_layer {
            label = "Def";
            bindings = <
&kp ESC    &kp Q        &kp W      &kp E     &kp R              &kp T                       &kp Y          &kp U              &kp I      &kp O                   &kp P           &ime_tog
&kp TAB    &kp A        &kp S      &kp D     &kp F              &kp G                       &kp H          &kp J              &kp K      &kp L                   &kp MINUS       &kp TAB
&kp LSHFT  &mt LSHFT Z  &kp X      &kp C     &kp V              &kp B                       &kp N          &kp M              &kp COMMA  &kp DOT                 &mt RSHFT FSLH  &kp RSHFT
&kp LCTRL  &kp LGUI     &kp LALT             &lt WIN_FNC SPACE  &lt WIN_NUM LANGUAGE_2      &kp BACKSPACE  &lt WIN_SCR ENTER             &lt SETTING LANGUAGE_2  &kp DEL         &kp RCTRL
&kp LEFT   &kp UP       &kp SPACE  &kp DOWN  &kp RIGHT                                                     &kp HOME           &kp PG_UP  &kp ENTER               &kp PG_DN       &kp END
                                   &kp A                                                                                      &kp B
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        win_function_layer {
            label = "Fnc";
            bindings = <
&kp LC(ESC)  &kp LC(A)  &kp LC(X)  &kp LC(C)    &kp LC(V)  &kp LC(F)      &kp LESS_THAN         &kp GREATER_THAN       &kp CARET  &kp PERCENT   &kp DOLLAR         &trans
&trans       &kp TAB    &kp LALT   &kp LS(TAB)  &mkp MB1   &mkp MB2       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AT     &kp AMPS      &kp DOUBLE_QUOTES  &trans
&kp LSHFT    &trans     &trans     &trans       &trans     &mkp MB3       &kp LBKT              &kp RBKT               &kp EXCL   &kp QUESTION  &kp SQT            &trans
&kp LCTRL    &kp LGUI   &kp LALT                &trans     &trans         &kp BKSP              &kp ENTER                         &trans        &kp HASH           &trans
&kp LEFT     &kp UP     &kp SPACE  &kp DOWN     &kp RIGHT                                       &kp HOME               &kp PG_UP  &kp ENTER     &kp PG_DN          &kp END
                                   &kp A                                                                               &kp B
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        win_common_layer {
            label = "Scr";
            bindings = <
&trans    &kp ESC    &trans        &trans         &kp LG(LC(D))     &kp LA(UP)             &kp LC(W)      &kp LA(LEFT)  &mkp MB3   &kp LA(RIGHT)  &kp HOME   &trans
&trans    &kp TAB    &kp LALT      &kp LS(TAB)    &kp LG(LC(LEFT))  &kp LG(LC(RIGHT))      &kp LC(PG_UP)  &mkp MB1      &kp UP     &mkp MB2       &kp PG_UP  &trans
&trans    &kp LSHFT  &kp LG(LEFT)  &kp LG(RIGHT)  &kp LG(LC(F4))    &trans                 &kp LC(PG_DN)  &kp LEFT      &kp DOWN   &kp RIGHT      &kp PG_DN  &trans
&trans    &kp LCTRL  &trans                       &trans            &trans                 &trans         &trans                   &trans         &kp END    &trans
&kp LEFT  &kp UP     &kp SPACE     &kp DOWN       &kp RIGHT                                               &kp HOME      &kp PG_UP  &kp ENTER      &kp PG_DN  &kp END
                                   &kp A                                                                                &kp B
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        win_num_layer {
            label = "Num";
            bindings = <
&kp ESC    &kp F1    &kp F2     &kp F3    &kp F4     &kp F5       &kp LS(EQUAL)  &kp MINUS     &kp N7     &kp N8     &kp N9     &trans
&kp TAB    &kp F6    &kp F7     &kp F8    &kp F9     &kp F10      &kp EQUAL      &kp LS(SEMI)  &kp N4     &kp N5     &kp N6     &trans
&kp LSHFT  &kp F11   &kp F12    &kp F13   &kp F14    &kp F15      &kp LS(N8)     &kp FSLH      &kp N1     &kp N2     &kp N3     &trans
&kp LCTRL  &kp LGUI  &kp LALT             &trans     &trans       &kp BKSP       &kp ENTER                &trans     &kp N0     &trans
&kp LEFT   &kp UP    &kp SPACE  &kp DOWN  &kp RIGHT                              &kp HOME      &kp PG_UP  &kp ENTER  &kp PG_DN  &kp END
                                &kp A                                                          &kp B
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        mac_default_layer {
            label = "Def";
            bindings = <
&kp ESC    &kp Q        &kp W      &kp E     &kp R                   &kp T                       &kp Y          &kp U              &kp I      &kp O                   &kp P           &kp AT
&kp TAB    &kp A        &kp S      &kp D     &kp F                   &kp G                       &kp H          &kp J              &kp K      &kp L                   &kp MINUS       &kp TAB
&kp LSHFT  &mt LSHFT Z  &kp X      &kp C     &kp V                   &kp B                       &kp N          &kp M              &kp COMMA  &kp DOT                 &mt RSHFT FSLH  &kp RSHFT
&kp LCTRL  &kp LALT     &kp LGUI             &lt MAC_FNC LANGUAGE_1  &lt MAC_NUM LANGUAGE_2      &kp BACKSPACE  &lt MAC_SCR ENTER             &lt SETTING LANGUAGE_2  &kp DEL         &kp RCTRL
&kp LEFT   &kp UP       &kp SPACE  &kp DOWN  &kp RIGHT                                                          &kp HOME           &kp PG_UP  &kp ENTER               &kp PG_DN       &kp END
                                   &kp A                                                                                           &kp B
            >;

            sensor-bindings =
                <&inc_dec_kp LC(PG_UP) LC(PG_DN)>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        mac_function_layer {
            label = "Fnc";
            bindings = <
&kp LC(ESC)  &kp LC(A)  &kp LC(X)  &kp LC(C)    &kp LC(V)  &kp LC(F)      &kp LS(COMMA)  &kp LS(DOT)  &kp LS(N6)  &kp LS(N5)    &kp LS(N4)   &trans
&tog_ls      &kp TAB    &kp LALT   &kp LS(TAB)  &mkp MB1   &mkp MB2       &kp LS(N8)     &kp LS(N9)   &kp AT      &kp AMPS      &kp LS(SQT)  &trans
&kp LSHFT    &trans     &trans     &trans       &trans     &mkp MB3       &kp LBKT       &kp RBKT     &kp LS(N1)  &kp LS(FSLH)  &kp SQT      &trans
&kp LCTRL    &kp LGUI   &kp LALT                &trans     &trans         &kp BKSP       &kp ENTER                &trans        &kp LS(N3)   &trans
&kp LEFT     &kp UP     &kp SPACE  &kp DOWN     &kp RIGHT                                &kp HOME     &kp PG_UP   &kp ENTER     &kp PG_DN    &kp END
                                   &kp A                                                              &kp B
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        mac_common_layer {
            label = "Scr";
            bindings = <
&trans    &kp ESC    &trans     &trans       &kp LG(UP)    &trans             &kp LC(W)      &kp LA(LEFT)  &mkp MB3   &kp LA(RIGHT)  &kp HOME   &trans
&trans    &kp TAB    &kp LALT   &kp LS(TAB)  &kp LG(LEFT)  &kp LG(RIGHT)      &kp LC(PG_UP)  &mkp MB1      &kp UP     &mkp MB2       &kp PG_UP  &trans
&trans    &kp LSHFT  &trans     &trans       &kp LG(DOWN)  &trans             &kp LC(PG_DN)  &kp LEFT      &kp DOWN   &kp RIGHT      &kp PG_DN  &trans
&trans    &kp LCTRL  &trans                  &trans        &trans             &trans         &trans                   &trans         &kp END    &trans
&kp LEFT  &kp UP     &kp SPACE  &kp DOWN     &kp RIGHT                                       &kp HOME      &kp PG_UP  &kp ENTER      &kp PG_DN  &kp END
                                &kp A                                                                      &kp B
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        mac_num_layer {
            label = "Num";
            bindings = <
&kp ESC    &kp F1    &kp F2     &kp F3    &kp F4     &kp F5       &kp LS(EQUAL)  &kp MINUS     &kp N7     &kp N8     &kp N9     &trans
&kp TAB    &kp F6    &kp F7     &kp F8    &kp F9     &kp F10      &kp EQUAL      &kp LS(SEMI)  &kp N4     &kp N5     &kp N6     &trans
&kp LSHFT  &kp F11   &kp F12    &kp F13   &kp F14    &kp F15      &kp LS(N8)     &kp FSLH      &kp N1     &kp N2     &kp N3     &trans
&kp LCTRL  &kp LGUI  &kp LALT             &trans     &trans       &kp BKSP       &kp ENTER                &trans     &kp N0     &trans
&kp LEFT   &kp UP    &kp SPACE  &kp DOWN  &kp RIGHT                              &kp HOME      &kp PG_UP  &kp ENTER  &kp PG_DN  &kp END
                                &kp A                                                          &kp B
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        setting_layer {
            label = "BT";
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &bt BT_CLR_ALL  &trans      &trans     &trans     &trans     &trans
&trans      &trans        &trans        &trans        &trans        &trans            &trans          &trans      &trans     &trans     &trans     &trans
&trans      &trans        &trans        &trans        &trans        &trans            &studio_unlock  &touchpass  &trans     &trans     &trans     &trans
&trans      &trans        &trans                      &to WIN_DEF   &to MAC_DEF       &trans          &touchpass             &trans     &trans     &trans
&kp LEFT    &kp UP        &kp SPACE     &kp DOWN      &kp RIGHT                                       &kp HOME    &kp PG_UP  &kp ENTER  &kp PG_DN  &kp END
                                        &kp A                                                                     &kp B
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        mouse_layer {
            label = "Mouse";
            bindings = <
&trans    &trans  &trans     &trans    &trans     &trans      &trans  &trans    &trans     &trans     &trans     &trans
&trans    &trans  &trans     &trans    &trans     &trans      &trans  &trans    &trans     &trans     &trans     &trans
&trans    &trans  &trans     &trans    &trans     &trans      &trans  &trans    &trans     &trans     &trans     &trans
&trans    &trans  &trans               &trans     &trans      &trans  &trans               &trans     &trans     &trans
&kp LEFT  &kp UP  &kp SPACE  &kp DOWN  &kp RIGHT                      &kp HOME  &kp PG_UP  &kp ENTER  &kp PG_DN  &kp END
                             &kp A                                              &kp B
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
